* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Architects Daughter';font-size: 20px;
  background: black;
  color: red;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #1f1;
}

header {
  width: 65%;
  height: 5%;
}

header img {
  width: 30%;
  height: 30%;
}

/* COMIENZO DE NAV */
nav{
  background-color: green;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 30px;
}

nav ul {
  overflow: hidden;
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  padding: 16px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: red;
}

/* FIN NAV */
/* MAIN */
.container{
  overflow: hidden;
  border-bottom: 2px solid green;
}
main{
  float: left;
  width: 69%;
  border-right:2px solid green;
}

.titulo_importante{
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
  color: green;
}

article {
  margin: 3% auto;
  padding: 5%;
  width: auto;
}

article img {
  display: block;
  width: 30%;
  margin: 20px auto;
}

.compra img {
  margin: 20px 0;
}

.producto {
  border-bottom: 4px dotted green;
}
article h1 {
  text-decoration: underline;
}

.producto .boton_detalle button, .producto .boton_compra button{
    background-color: #7d42f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.boton_compra button{
    background-color: #7d42f4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.producto .boton_detalle button{
  background-color: red;
}

aside{
  float: right;
  width: 28%;
  padding-left: 2%;
}

aside section{
  margin: 60px auto;
  padding-bottom: 5%;
}
aside ul{
  margin: 5% 0;
}

table{
  width: 95%;
  text-align: center;
  border-collapse: collapse;

}
table th{
  padding: 3px;
  font-size: 30px;
  color: orange;
}
table th, table td{
  border: 1px dotted red;

}

.destacados, .detalles {

  float: right;
}
.destacados img {
}
main form {
  width: 50%;
  margin: 5% 0;
}
/* FIN MAIN */

footer{
  clear: both;
  border-radius: 5px;
  padding: 20px;
}
.form{
  width: 40%;
  margin-left: 5%;

}
input[type=text], textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}
